<!DOCTYPE html>
<html>
  <body>
    {{ this.html }}
    {% for block in this.flowA.blocks %}
      {{ block.text }}
      {{ block.html }}
      {{ block.markdown }}
      {% for nested_block in block.flowB.blocks %}
        {{ nested_block.string }}
      {% endfor %}
    {% endfor %}

    <ul>
      Tags:
      {% for t in this.tags %}
        <li>
          <a href="{{ ('/' ~ t.lower())|url }}">
            {{ t }}
          </a>
        </li>
      {% endfor %}
    </ul>

    <ul>
      Children:
      {% for child in this.children %}
        <li>
          <a href="{{ child|url }}">
            {{ child.path }}
          </a>
        </li>
      {% endfor %}
    </ul>
  </body>
</html>
